<html translate="no">
  <head>
    <title>Meniu</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="container" style="margin: 0">
    <!-- <iframe width="411px" height="767px" style="width: 100vw; height: 100vh" src="https://docs.google.com/gview?url=<%= pdfUrl %>&embedded=true" frameborder="0"></iframe> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
      integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      const iframe = document.createElement('iframe');
      iframe.src = 'https://docs.google.com/gview?url=<%= pdfUrl %>&embedded=true';
      iframe.width = window.innerWidth;
      iframe.height = window.innerHeight;
      window.document.body.appendChild(iframe);
    </script>
  </body>
</html>
