<html translate="no">
  <head>
    <meta charset="utf-8" />
    <title>Deutsches Haus | Meniu</title>
    <link rel="icon" href="img/logo-medium.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2f166c40b2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="cover-wrapper">
      <img class="cover-photo" src="img/cover-photo.jpg" />
      <div class="bottom-gradient"></div>
      <div class="restaurant-logo-wrapper">
        <div class="inner">
          <img src="img/restaurant-logo.jpg" alt="Restaurant Logo" class="restaurant-logo" />
        </div>
      </div>
      <div class="title-wrapper">
        <h1 class="title">Deutsches Haus</h1>
      </div>
      <h2 class="title">Menu</h2>
    </div>
    <div class="search-wrapper">
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
      <input type="text" placeholder="Caută" />
    </div>
  </body>
</html>
